**/db-index
**/log
**/results
**/html
**/REMOVED-FILES
**/raw-data
*.tar.gz
.idea
*.cache
*-big.txt
*-ok.txt
*.pyc
cntl/arqmath_docs_opt
cntl/arqmath_docs_slt
evaluation/Task1/trec/*
evaluation/Task1/prim/*
evaluation/Task1/sub/*
evaluation/Task2/dedup/*

!evaluation/Task1/trec/.gitkeep
!evaluation/Task1/prim/.gitkeep
!evaluation/Task1/sub/.gitkeep
!evaluation/Task2/dedup/.gitkeep


